.card {
    background: whitesmoke;
    border: 1px solid lightgray;

    padding: 1rem;
    margin: 1rem;

    box-shadow: 8px 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
}

.card p {
    text-align: center;
    padding: 1rem 0.5rem;
}

.card h5 {
    text-align: right;
    margin-bottom: 1rem;
}

.card span {
    margin-top: auto;
    text-align: center;
}

.rounded-card {
    border-radius: 10px;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.flex-vertical-layout {
    display: flex;
    flex-direction: column;
}

.flex-horizontal-layout {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.logo-container {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 0 auto;
    width: 25%;
}

.title {
    text-align: center;
    font-size: xxx-large;
    /* margin: 2.5rem 0; */
}

.text {
    text-align: center;
    font-size: larger;
    padding: 0 10rem;
    margin-bottom: 5rem;
}

.pop-card {
    transition: transform 250ms ease-in;
}

.pop-card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.display-card {
    position: relative;
}

.display-card h3 {
    top: 70%;
    left: 10px;
    position: absolute;
    color: white;
    mix-blend-mode: difference;
}

.display-card p {
    top: 80%;
    left: 10px;
    position: absolute;
    color: white;
    mix-blend-mode: difference;
}

/* button with slide animation */

/* card for showing slide with text on hover */