section {
    margin-bottom: 3rem;
}

.main-card {
    width: 100%;
    display: flex;
}

.secondary-card {
    width: 50%;
    padding: 0.25rem;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
}

.showcase-card {
    /* width: 400px; */
    /* padding: 0.5rem; */
    display: block;
    position: relative;
    /* box-sizing: content-box; */
    /* height: 500px; */
}

.showcase-card img {
    position: absolute;
    top: 0;
    left: 0;
}

.showcase-card h2 {
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: 2;   */
}

.article-card {
    /* width: 500px; */
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.footer-card {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}