label {
    font-size: medium;
    margin-bottom: 0.5rem;
}

.field {
    width: 100%;
    margin: 0.15em 0;
    padding: .88rem;

    border: 0.1em solid lightgray;
}

iframe {
    width: 100%;
}

button[type=submit] {
    cursor: pointer;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: medium;
    background: #555;
    color: white;
    border: none;
    border-radius: 5px;
}

.form-section {
    padding: .75rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1rem;
}