/* Footer */

.footer {
    color: white;
    background-color: #333;
    margin-top: auto;
}

.footer-content {
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
}

.footer-info input {
    display: inline;
}

.footer-links {
    /* grid-column-start: 2; */
    /* grid-column-end: 3; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    padding: 2rem;
    font-size: 14px;
    text-align: center;
}

.footer-links li a {
    color: white;
}

.footer-links li:first-child {
    font-size: 1.2rem;
    border-bottom: #555 solid 1px;
    padding-bottom: 0, 5rem;
    margin-bottom: 1rem;
}

.footer-copyright {
    text-align: center;
    background-color: #555;
    padding: 0.5rem;
}

@media (max-width: 700px) {
    .footer-content {
        grid-template-columns: 1fr;
    }
}