* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, honeydew, grey);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    margin-bottom: 3rem;
}

h1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    border-top: 1px solid black;
}

span {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

details+details {
    margin-top: 1rem;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 0.5px solid #aaa;
    margin-bottom: .5em;
}