@import url("general.css");
@import url("footer.css");
@import url("navbar.css");

@import url("contact.css");
@import url("content.css");


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
    background-color: white;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        max-width: 100vw;
    }

    .grid-3-cols {
        grid-template-columns: 1fr;
    }

    .grid-2-cols {
        grid-template-columns: 1fr;
    }

    .text {
        padding: 0;
    }

    .footer-newsletter {
        margin-top: 1rem;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        max-width: 460px;
    }

    .grid-3-cols {
        grid-template-columns: 1fr;
    }

    .grid-2-cols {
        grid-template-columns: 1fr;
    }

    .text {
        padding: 0;
    }
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        max-width: 750px;
    }

    .grid-3-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2-cols {
        align-items: center;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}