/* -------------- */
/* General Styles */
/* -------------- */

* {
    /* Remove padding and margin from all elements */
    margin: 0;
    padding: 0;
    /* Set the behavior of the 'width' and 'height' properties */
    box-sizing: border-box;
    /* Set the font-family */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    /* Set the height of the html element */
    height: 100%;
}

body {
    min-height: 100%;
    /* Make the body element a flex container */
    display: flex;
    flex-direction: column;

    /* Add a background color using linear gradient */
    background: linear-gradient(45deg, honeydew, grey) no-repeat fixed;
}

main {
    background-color: white;
}

section {
    margin-bottom: 3rem;
}

section p {
    margin-bottom: 1rem;
}

h1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

hr {
    border-top: 1px solid black;
}

span {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

details+details {
    margin-top: 1rem;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 0.5px solid #aaa;
    margin-bottom: .5em;
}

/* ------------- */
/* Button Styles */
/* ------------- */

.btn {
    background: gray;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
}

.btn:hover {
    background: darkgray;
}

.btn:active {
    background: lightgray;
}

.btn-circle {
    padding: 1rem;
    border-radius: 50%;
}

.btn-circle img {
    width: 15px;
    height: 15px;
}

.left-button {
    position: absolute;
    top: 50%;
    left: 0;
}

.right-button {
    position: absolute;
    top: 50%;
    right: 0;
}

/* ------ */
/* Footer */
/* ------ */

.footer {
    color: white;
    background-color: #333;
    margin-top: auto;
}

.footer-content {
    padding: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-info input {
    display: inline;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    padding: 2rem;
    font-size: 14px;
    text-align: center;
}

.footer-links li a {
    color: white;
}

.footer-links li:first-child {
    font-size: 1.2rem;
    border-bottom: #555 solid 1px;
    padding-bottom: 0, 5rem;
    margin-bottom: 1rem;
}

.footer-newsletter input[type="text"] {
    padding: .25rem;
}

.footer-newsletter button {
    margin-top: 1rem;
    padding: .25rem;
}

.footer-copyright {
    text-align: center;
    background-color: #555;
    padding: 0.5rem;
}

@media (max-width: 700px) {
    .footer-content {
        grid-template-columns: 1fr;
    }
}

/* ------ */
/* Navbar */
/* ------ */

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    color: white;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li a {
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li {
    position: relative;
    z-index: 1;
}

/* The box that will slide on hover */
.navbar-links li::after {
    /* no content */
    content: "";
    /* position it absolute in the top left corner*/
    position: absolute;
    top: 0;
    left: 0;
    /* make it take 100% of the parent element */
    width: 100%;
    height: 100%;
    /* give it a background color */
    background: rgba(85, 85, 85, 0.5);
    /* z-index is -1 so it is behind the text of the "li" element */
    z-index: -1;

    transition: transform 200ms ease-in;
    /* scale down to 0 when no mouse is over it */
    transform: scaleY(0);
    /* make it slide from top */
    transform-origin: top;
}

/* this is what happens to the box on hover */
.navbar-links li:hover::after {
    /* scale to full size when mouse is over */
    transform: scaleY(1);
}

.navbar-links li.on {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* ------------- */
/* Form Styles */
/* ------------- */

label {
    font-size: medium;
    margin-bottom: 0.5rem;
}

.field {
    width: 100%;
    margin: 0.15em 0;
    padding: .88rem;

    border: 0.1em solid lightgray;
}

iframe {
    width: 100%;
}

button[type=submit] {
    cursor: pointer;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: medium;
    background: #555;
    color: white;
    border: none;
    border-radius: 5px;
}

.form-section {
    padding: .75rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* ------------- */
/* Card Styles */
/* ------------- */

.card {
    background: whitesmoke;
    border: 1px solid lightgray;

    padding: 1rem;
    margin: 1rem;

    box-shadow: 8px 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
}

.card p {
    text-align: center;
    padding: 1rem 0.5rem;
}

.card h5 {
    text-align: right;
    margin-bottom: 1rem;
}

.card span {
    margin-top: auto;
    text-align: center;
}

.card a {
    margin-top: auto;
    text-align: center;
}

.rounded-card {
    border-radius: 10px;
}

.pop-card {
    transition: transform 250ms ease-in;
}

.pop-card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.display-card {
    position: relative;
}

.display-card h3 {
    top: 70%;
    left: 10px;
    position: absolute;
    color: white;
    mix-blend-mode: difference;
}

.display-card p {
    top: 80%;
    left: 10px;
    position: absolute;
    color: white;
    mix-blend-mode: difference;
}

/* ------------- */
/* Helper classes */
/* ------------- */

.text-center {
    text-align: center;
}

.hidden {
    /* Set the display of an element to none */
    display: none !important;
}

.relative {
    /* Set the position of an element to relative */
    position: relative;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.flex-vertical-layout {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.logo-container {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 0 auto;
    width: 25%;
}

.title {
    text-align: center;
    font-size: xxx-large;
}

.description {
    text-align: center;
    font-size: larger;
    padding: 0 10rem;
    margin-bottom: 5rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* -------------------------------- */
/* Media Queries for responsiveness */
/* -------------------------------- */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        max-width: 100vw;
    }

    .grid-3-cols {
        grid-template-columns: 1fr;
    }

    .grid-2-cols {
        grid-template-columns: 1fr;
    }

    .description {
        padding: 0;
    }

    .footer-newsletter {
        margin-top: 1rem;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        max-width: 460px;
    }

    .grid-3-cols {
        grid-template-columns: 1fr;
    }

    .grid-2-cols {
        grid-template-columns: 1fr;
    }

    .description {
        padding: 0;
    }
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        max-width: 750px;
    }

    .grid-3-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2-cols {
        align-items: center;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}